{% extends "base.twig" %}
{% set pageTitle = "Information | Stats" %}
{% set title = "Information | Stats" %}
{% set fullWidth = true %}
{% set showDate = false %}

{% block meta %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/css/scojs.min.css" integrity="sha256-X/S6bj3zqdJs4v8yl2OWoacgvpGRmjUJtjdreo3aEi8=" crossorigin="anonymous" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/js/sco.tooltip.js" integrity="sha256-D1cXcX/XEN8qmiAakjJ3d54Qq93MF4+WtdsTkSFZuLo=" crossorigin="anonymous"></script>
{% endblock %}

{% block rightContent %}
    Killmails: {{ stats.count.killmails|number_format }}<br>
    ESI Killmails: {{ stats.count.esikillmails|number_format }}<br>
    Characters: {{ stats.count.characters|number_format }}<br>
    Corporations: {{ stats.count.corporations|number_format }}<br>
    Alliances: {{ stats.count.alliances|number_format }}<br>
    Battles: {{ stats.count.battles|number_format }}<br>
    Prices: {{ stats.count.prices|number_format }}<br>
    Comments: {{ stats.count.comments|number_format }}<br>
{% endblock %}

{% block leftContent %}
{% endblock %}
