<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" dir="ltr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="EVEKill, a simple killboard"/>
    <meta name="keywords" content="EVE-Online, EVE, Multiplayer, Killboard, EVEKill, killmail"/>

    <!-- Page Meta Tags -->
    {% block meta %}{% endblock %}

    <!-- Page Title -->
    <title>{% if title is defined %}{{ title }}{% else %}Home{% endif %} | EVEKill</title>

    <!-- Site Font-->
    <link 
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">

    <!-- Site CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <!-- Page CSS -->
    {% block css %}{% endblock %}

    <!-- Site JS -->
    <script type="text/javascript" src="/js/generic.js"></script>

    <!-- Page JS -->
    {% block js %}{% endblock %}
</head>

<!-- Start of the body -->
<body style="height: 100%">
    <!-- Popup -->
    <div id="popup"></div>
        <div align="center" id="popup" style="display: none; position: absolute; top: 217px; width: 99%; z-index: 3; padding: 5px;">
    </div>
    <!-- Content? -->
    <div id="repository">
        <br>
        <div id="contentkb">
            <section>
                <!-- Main navbar -->
                {% include "global/navbar.twig" %}
                <!-- Dropdowns-->
                {% include "global/postKillmail.twig" %}
                {% include "global/search.twig" %}
                <!-- Page Content Section -->
                <section>
                    <!-- Page Header -->
                    <headerkb><h1>{% if pageTitle is defined %}{{ pageTitle }}{% else %}{% endif %}</h1></headerkb>
                    <!-- Right side Main Content -->
                    <div id="content"{% if fullWidth is defined and fullWidth == true %}style="width: 100%;"{% endif %}>
                        {% block rightContent %}{% endblock %}
                    </div>
                    <!-- Left side Content -->
                    <div id="context">
                        {% block leftContent %}{% endblock %}
                    </div>
                    <div id="footerarea">
                        <br>
                        <div class="counter"></div>
                        <br>
                        <div class="footerbacktotop2" style="float: left">
                            <a href="http://evekb.org/forum/viewtopic.php?f=1033&t=18159">EVE+</a> theme by <a href="http://gate.eveonline.com/profile/vecati">Vecati</a>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</body>
</html>