{% extends "base.twig" %}
{% set pageTitle = name %}
{% set title = name %}
{% set fullWidth = false %}
{% set showDate = false %}

{% block meta %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/css/scojs.min.css" integrity="sha256-X/S6bj3zqdJs4v8yl2OWoacgvpGRmjUJtjdreo3aEi8=" crossorigin="anonymous" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-dateFormat/1.0/jquery.dateFormat.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sco.js/1.1.0/js/sco.tooltip.js" integrity="sha256-D1cXcX/XEN8qmiAakjJ3d54Qq93MF4+WtdsTkSFZuLo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/killlist.js"></script>
    <script type="text/javascript" src="/js/topList.js"></script>
    <script type="text/javascript" src="/js/corporationInfoTop.js"></script>
    <script>
        var newURL = window.location.protocol + "//" + window.location.host + window.location.pathname;
        var splitsies = newURL.split("/");
        var page = 1;
        cnt = 0;
        splitsies.forEach(function(part){
            if(part == "page") {
                page = splitsies[cnt + 1];
            }
            cnt++;
        });

        // Generate the killlist
        corporationInfoTop("/api/corporation/information/{{ corporationID }}");
        generateKillList("/api/kills/corporation/{{ corporationID }}", false, page, false);
        generateTopList("/api/corporation/top/characters/{{ corporationID }}", "topListCharacter", "character", "Top 10 Characters");
        generateTopList("/api/corporation/top/alliances/{{ corporationID }}", "topListAlliance", "alliance", "Top 10 Alliances");
        generateTopList("/api/corporation/top/ships/{{ corporationID }}", "topListShips", "ship", "Top 10 Ships");
        generateTopList("/api/corporation/top/systems/{{ corporationID }}", "topListSolarSystems", "system", "Top 10 Systems");
        generateTopList("/api/corporation/top/regions/{{ corporationID }}", "topListRegions", "region", "Top 10 Regions");
    </script>
{% endblock %}

{% block rightContent %}
    <div id="info"></div>
    <div class="kb-date-header">Kills</div>
    {% include "/global/killlisttable.twig" %}
{% endblock %}

{% block leftContent %}
    {% include "/global/navigationMenu.twig" %}
    <div id="topListCharacter"></div><br/>
    <div id="topListAlliance"></div><br/>
    <div id="topListShips"></div><br/>
    <div id="topListSolarSystems"></div><br/>
    <div id="topListRegions"></div><br/>
{% endblock %}
